
        <header class="masthead mb-auto">
            {# TODO: change CSS based on page loaded to show "active" page #}
        <div class="inner">
            <h3 class="masthead-brand">TeamTatorr</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="{% url "movie_homepage" %}">Movie Night</a>
                <a class="nav-link" href="#">Running Records</a>
            </nav>
        </div>
    </header>